{namespace h5v=HVP\Html5videoplayer\ViewHelpers}

<f:comment>
	<style type="text/css">
	#video_{video.uid}  {padding-top: <f:cObject typoscriptObjectPath='lib.math' data='({settings.ff.videoheight})/{settings.ff.videowidth}*100'/>%}
	.vjs-fullscreen {padding-top: 0px}
	</style>
	Set height and width to auto and use that TS:
	lib.math = TEXT
	lib.math {
		current = 1
		prioriCalc = 1
	}
	http://coolestguidesontheplanet.com/videodrome/videojs/
</f:comment>

<!-- Begin VideoJS -->
<div class="video-js-box ">
	<video id="video_{video.uid}" class="video-js vjs-default-skin" width="{f:if(condition:'{settings.ff.videowidth} > 0', then: settings.ff.videowidth, else: video.minWidth)}" height="{f:if(condition:'{settings.ff.videoheight} > 0', then: settings.ff.videoheight, else: video.minHeight)}" preload="{video.preloadvideo}"<f:if condition="{video.autoplayvideo}"> autoplay</f:if><f:if condition="{video.loopvideo}"> loop</f:if><f:if condition="{video.posterimage}"> poster="{video.posterimage}"</f:if><f:if condition="{video.controlsvideo}"> controls</f:if> data-setup='{"techOrder":["youtube","vimeo","html5","flash"], "ytcontrols": true}'>
		<f:if condition="{video.webmsource}"><source src="{video.webmsource}" type="video/webm" /></f:if>
		<f:if condition="{video.oggsource}"><source src="{video.oggsource}" type="video/ogg" /></f:if>
		<f:if condition="{video.mp4source}"><source src="{video.mp4source}" type="video/mp4" /></f:if>
		<f:if condition="{video.youtube}"><source src="{video.youtube}" type="video/youtube" /></f:if>
        <f:if condition="{video.vimeo}"><source src="{video.vimeo}" type="video/vimeo" /></f:if>
	</video>
	<p class="vjs-no-video">
		<f:if condition="{video.downloadlinks}">
			<strong>Download "{video.title}"-Video:</strong>
			<f:if condition="{video.mp4source}"><a href="{video.mp4source}">MP4</a> </f:if>
			<f:if condition="{video.webmsource}"><a href="{video.webmsource}">WebM</a> </f:if>
			<f:if condition="{video.oggsource}"><a href="{video.oggsource}">Ogg</a></f:if>
			<f:if condition="{video.youtube}"><a href="{video.youtube}">YouTube</a></f:if>
            <f:if condition="{video.vimeo}"><a href="{video.vimeo}">Vimeo</a></f:if>
            <br />
		</f:if>
		<f:if condition="{video.supportvideojs}">
			<a href="http://videojs.com/">HTML5 Video Player</a> by VideoJS
		</f:if>
	</p>
	<f:if condition="{video.description}">
		<f:format.html>{video.description}</f:format.html>
	</f:if>
</div>
<!-- End VideoJS -->
